body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

.header-gradient {
  background-image: linear-gradient(90deg, #4a9eff, #7bc9ea);
}

/* Custom style for rounded buttons */
.btn-rounded {
  border-radius: 9999px;
  border: 2px solid #fff; /* Add white outline */
  transition: background-color 0.3s ease;
}

/* Custom style for the hover effect */
.btn-rounded:hover {
  background-color: #2563eb;
}